<nav>
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/"><img src="/static/img/logo.PNG"/></a>
        </div>
        <ul class="nav-links">
            <li><a class="active" href="/new">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/events/">View Events</a></li>
            <li><a href="/vol/">View Volunteers</a></li>
            <li><a href="/logout">Logout</a></li>

        </ul>
        <a class="mobile-menu-toggle"></a>
        <ul class="mobile-menu menu">
            <li><a class="active" href="/new">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/events/">View Events</a></li>
            <li><a href="/vol/">View Volunteers</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
