<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>


            <% include ./partials/header.ejs%>
        <div class="welcome">
        <h1>login/signup Error</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <p>If you are seeing this page you've had a login problem which can be because either...</p>
        <ul>
            <li>Wrong Username</li>
            <li>Wrong Password</li>
            <li>Attempted Sign-Up with Already use username</li>
        </div>
            <% include ./partials/footer.ejs%>
    </body>
</html>
