<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>


        <header>
            <% include ./partials/header.ejs%>
        </header>
        <div class="welcome">
        <h1>Welcome to EveVol</h1>
        <h2>Please Login or Signup<h2>
        <p> EveVol is an application for keeping track of which of your volunteers are to be scheduled for upcoming events. Create lists of volunteers and events and be able to create a public page of your event with assigned volunteers you can share with you team so they know who needs to be where!</p>
        </div>

    </body>
</html>
