<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>

        <% include ./partials/header.ejs%>

            <div class="welcome">
            <h1>Welcome to EveVol</h1>
            <h4>Please Login or Signup</h4>
            <p> EveVol is an application for keeping track of which of your volunteers are to be scheduled for upcoming events. Create lists of volunteers and events then create a public page of your event with assigned volunteers you can share with your team so they know who needs to be where!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BqbecjdQfkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <% include ./partials/footer.ejs%>
    </body>
</html>
