<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>

        <% include ./partials/header.ejs%>

            <div class="welcome">
            <h1>Welcome to EveVol</h1>
            <h4>Please Login or Signup</h4>
            <p> EveVol is an application for keeping track of which of your volunteers are to be scheduled for upcoming events. Create lists of volunteers and events then create a public page of your event with assigned volunteers you can share with your team so they know who needs to be where!</p>
            <img src="https://cdn.eventplanner.net/imgs/xnr8304_the-best-way-to-instruct-the-volunteers-and-save-your-event.jpg"/>
            </div>

            <% include ./partials/footer.ejs%>
    </body>
</html>
