<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>


            <% include ./partials/header.ejs%>
        <div class="welcome">
        <h1>Sign Up Success!!!</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <h3>Click Login and login!!!</h3>
        </div>
            <% include ./partials/footer.ejs%>
    </body>
</html>
