<!DOCTYPE html>
<html>
    <head>
<% include ./partials/head.ejs %>
    </head>
    <body>

        <% include ./partials/header.ejs%>

            <div class="welcome">
            <h1>Welcome to EveVol</h1>
            <h4>You are logged in</h4>
            <p> Under "View Events" you can create events and assign volunteers to those events. Under "View Volunteers" you can add to your volunteer roster. The view page on events can be shared publically so share event details with others!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BqbecjdQfkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <% include ./partials/footer.ejs%>
    </body>
</html>
